
[submodule "deps/ICSharpCode.Decompiler"]
	path = deps/ICSharpCode.Decompiler
	url = git@github.com:FloodProject/ICSharpCode.Decompiler.git
[submodule "deps/Mono.Cecil"]
	path = deps/Mono.Cecil
	url = git@github.com:FloodProject/Mono.Cecil.git
[submodule "deps/ICSharpCode.NRefactory"]
	path = deps/ICSharpCode.NRefactory
	url = git@github.com:FloodProject/ICSharpCode.NRefactory.git
[submodule "deps/FreeType"]
	path = deps/FreeType
	url = git@github.com:FloodProject/FreeType.git
[submodule "deps/tropicssl"]
	path = deps/tropicssl
	url = git@github.com:FloodProject/tropicssl.git
[submodule "deps/wxWidgets"]
	path = deps/wxWidgets
	url = https://github.com/FloodProject/wxWidgets.git
