/************************************************************************
*
* vapor3D Editor © (2008-2010)
*
*	<http://www.vapor3d.org>
*
************************************************************************/

editor ICON "editor.ico"

#define wxUSE_NO_MANIFEST 1  
#include <wx/msw/wx.rc>