/************************************************************************
*
* vapor3D Editor © (2008-2010)
*
*	<http://www.vapor3d.org>
*
************************************************************************/

iconEditor			ICON		"editor.ico"
cursorArrowPlus		CURSOR		"aero_arrow_plus.cur"

#define wxUSE_NO_MANIFEST 1  
#include <wx/msw/wx.rc>