/************************************************************************
*
* Flood Project © (2008-201x)
* Licensed under the simplified BSD license. All rights reserved.
*
************************************************************************/

iconEditor			ICON		"editor.ico"
cursorArrowPlus		CURSOR		"aero_arrow_plus.cur"

#define wxUSE_NO_MANIFEST 1  
#include <wx/msw/wx.rc>